<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streaming Response Example</title>
</head>
<body>

<script>
    var source = new EventSource('http://127.0.0.1:8000/get');

    source.onmessage = function(event) {
        console.log(event)
        var messages = document.getElementById("messages");
        var li = document.createElement("li");
        li.appendChild(document.createTextNode(event.data));
        messages.appendChild(li);
    };

    source.onerror = function(event) {
        console.error('Error:', event);
        source.close();
    };
</script>

</body>
</html>
